.container {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content {
  padding: 16px;
  width: auto;
  height: 100%;
  flex: 1 1 0%;
  background: #BBDEFB;
}